{% extends 'form_div_layout.html.twig' %}

{% block form_row -%}
    <div class="input-field">
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
        <div class="form-error">{{- form_errors(form) -}}</div>
    </div>
{%- endblock form_row %}
