<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BattleOffice, petites guerres entre amis - Vente privée de jouets Nerfs Elite</title>

        <link  rel="icon" type="image/x-icon" href="favicon.png" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/main_new.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>


        <main class="page">
            {% block body %}{% endblock %}
        </main>

        <script src="assets/js/materialize.js"></script>
        <script src="assets/js/main.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
